//** Globals **//
$theme-colour: #4678A1;

$theme-light: lighten($theme-colour, 15);
$theme-lightest: lighten($theme-colour, 35);

$background-colour: #eceeef;

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $background-colour !important;
}

a {
  color: $theme-light;
}

//** Bootstrap theme/overrides **//

@import 'bootstrap';

/* Endeavour specific CSS */

// Application template
.title-bar {
  position: fixed;
  background: #fbfbfb;
  z-index:1001;
  width: 100%;
}
.title-text {
  font-size: 28px;
  line-height: 50px;
  color: gray;
  margin-left:10px;
  vertical-align: middle;
}

.loggedin-text {
  color: gray;
  line-height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.logo-image {
  height: 50px;
  width: 50px;
  margin: 5px;
  content: url('~eds-common-js/assets/img/endeavour.png');
}

.sidebar .fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.sidebar:hover,
nav.sidebar.expanded {
  width: 250px;
  overflow: visible;
}

.sidebar {
  background: #fbfbfb;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  padding-top: 53px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.sidebar > ul {
  margin: 7px 0;
}

.sidebar li {
  position: relative;
  display: block;
  width: 250px;
}

.sidebar li > .menuItem {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.sidebar li.active > .menuItem {
  color: #FFFFFF;
}

.sidebar .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.sidebar .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}

.sidebar > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

.menuItem:hover,
.menuItem:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.sidebar li:hover > .menuItem,
nav.sidebar li.active > .menuItem,
.dropdown-menu > li > .menuItem:hover,
.dropdown-menu > li > .menuItem:focus,
.dropdown-menu > .active > .menuItem,
.dropdown-menu > .active > .menuItem:hover,
.dropdown-menu > .active > .menuItem:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover .menuItem,
.dashboard-page nav.dashboard-menu ul li.active .menuItem {
  background-color: $theme-colour;
  color: #ffffff;
}

.selection a {
  color: $theme-lightest;
}

.looks-disabled {
  background-color: $gray-lighter;
  height: auto;
}

/**********************************************************************************************************************/
/* MODULE LAYOUT*/
/**********************************************************************************************************************/
.module {
  padding-top: 60px;
  padding-left: 45px;
  padding-right: 0;
}

.module-heading {
  position: fixed;
  padding: 4px 70px 8px 20px;
  color: white;
  background-color: $theme-colour;
  width: 100%;
  font-size: 22px;
  height: 56px;
  line-height: 40px;
  z-index: 100;
}

.module-body {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.module-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 80px;
}

/**********************************************************************************************************************/
/* LOADING INDICATOR */
/**********************************************************************************************************************/
div.loading {
  background: transparent;
  width:      100%;
  height:     100%;
  min-height: 80px;
  top:        0;
  left:       0;
  position:   relative;
}

div.loadingOverlay {
  opacity:    0.66;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

div.loadingCaption {
  text-align: center ;
  font-family: monospace ;
  font-weight: normal;
  top: 50% ;
  width:      100%;
  height:     100%;
  font-size: 26px ;
  line-height: 35px ;
  margin: 0px 0px 20px 0px ;
  position: absolute ;
}

/**********************************************************************************************************************/
/* COMMON */
/**********************************************************************************************************************/
.center-float {
  left:50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position:absolute;
}

.bordered-box {
  border: 1px solid $gray-lighter;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.required-field:after {
  color: red;
  content: ' *';
}

.required-field-note:after {
  color: red;
  content: '* Required field';
}


.selection * .info-icon {
  color: $theme-lightest !important;
}

.info-icon {
  color: $theme-colour !important;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.28571429em;
  text-align: center;
}

.info-icon:before {
  content: "\f05a";
}

.zero-pad {
  padding-right: 0;
  padding-left: 0;
}

.scroll-box {
  overflow-y: auto;
  overflow-x: auto;
}

.scroll-box-50 {
  @extend .scroll-box;
  height: 50px !important;
}

.scroll-box-100 {
  @extend .scroll-box;
  height: 100px !important;
}

.scroll-box-150 {
  @extend .scroll-box;
  height: 150px !important;
}

.scroll-box-250 {
  @extend .scroll-box;
  height: 250px !important;
}

.scroll-box-300 {
  @extend .scroll-box;
  height: 300px !important;
}

.scroll-box-350 {
  @extend .scroll-box;
  height: 350px !important;
}

.scroll-box-400 {
  @extend .scroll-box;
  height: 400px !important;
}

.scroll-box-500 {
  @extend .scroll-box;
  height: 500px !important;
}

.show-child-on-hover .child-to-show {
  display: none;
}

.show-child-on-hover:hover .child-to-show {
  display: inline;
}

.show-child-on-hover .child-to-hide {
  display: inline;
}

.show-child-on-hover:hover .child-to-hide {
  display: none;
}

.folder-item {
  display:inline-block;
  width: 100%;
  height: 20px;
}

.selection {
  background : $theme-colour !important;
  color: white !important;
}

.previous-selection {
  background : $theme-colour !important;
}

.dragtarget-over {
  border: 1px solid $theme-lightest !important;
  padding: 0;
  background: $theme-light !important;
}

.hover-box:hover {
  background: $theme-light !important;
  color: white !important;
  cursor: pointer;
}

.vcenter {
  min-height: 100%; /* Fallback for vh unit */
  min-height: 100vh;
  /* You might also want to use
                         'height' property instead.

                         Note that for percentage values of
                         'height' or 'min-height' properties,
                         the 'height' of the parent element
                         should be specified explicitly.

                         In this case the parent of '.vertical-center'
                         is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Align the bootstrap's container vertically */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;

  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.

     Therefore, we should use the following declarations to get it centered again */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.fa-blank:before {
  content: "\2122";
  color: transparent !important;
}

.role-menu-description.active{
  background: $theme-colour;
  color: white !important;
}

.role-menu-description.hoverable:hover {
  background-color: $theme-light;
}

/**********************************************************************************************************************/
/* DATA SHARING MANAGER */
/**********************************************************************************************************************/
.sebm-google-map-container {
  height: 600px;
}

.region {
  text-align:center;
  padding: 2px 2px;
  border: #333 1px solid;
  margin-bottom:20px;
  min-height:80px;
  overflow:hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

/**********************************************************************************************************************/
/* FILE INPUT */
/**********************************************************************************************************************/

input[type="file"] {
  display: none;
}

.info-endeavour-button {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.delete-endeavour-button {
  position: absolute;
  bottom: 10px;
  left: 40px;
}

.delete-endeavour-button-top {
  position: absolute;
  top: 5px;
  right: 10px;
}

/*********************/
/* Tree view control */
/*********************/
treenodeexpander {
  width: 13px;
}

.tree {
  width: 100%;
}

.node-content-wrapper {
  width: 100%;
}

.node-content-wrapper:hover {
  background: $theme-light !important;
  color: $white !important;;
}

.tree-node-active.tree-node-focused > .node-wrapper > .node-content-wrapper {
  background: $theme-colour !important;
  color: $white !important;
}

.tree-node-active.tree-node-focused > .node-wrapper > .node-content-wrapper:hover {
  background: $theme-light !important;
}
